# Set default behavior, in case users don't have core.autocrlf set.
* text=auto

# text files we want to always normalize and convert to LF in the repo (pushing to git converts it to crlf by default)
*.py text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.gitignore text eol=lf
*.gitattributes text eol=lf
